* { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

:root { 
    --main-color: #0f9d58; 
    --background-color: #f0f3f7; 
    --white-color: #ffffff; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Navbar */

.wrapper { 
   
}

.navbar{ 
    background-color: var(--background-color);

}

.container { 
    max-width: 100%;
    margin: 0 380px;
}

.menu-wrap { 
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 16px;
}


.logo { 

}

.logo a { 
    text-decoration: none; 
    font-weight: 700;
    font-size: 32px;
    color: var(--main-color); 
}

.menu { 
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;

}



.menu-item a { 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color); 
    padding: 10px 20px;
    
}

.menu-item a:hover{ 
    background-color: var(--main-color);
    color: #fff;
    border-radius: 15px;
    transition: 0.75s background-color;
}

.cart {
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.cart:hover { 
    color: var(--white-color); 
    background-color: var(--main-color);
    border-radius: 10px;
}


/* Home Page */

.background-img { 
    height: 100vh;
}

.row { 
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    padding-top: 57px;
}

.col-6 { 
    flex: 0 0 50%; 
    max-width: 50%;
    height: 500px;
}

.col-6 h1 { 
    font-size: 80px;
    font-weight: 700;
    color: var(--main-color);
}



.order-btn { 
    display: inline; 
    margin-top: 40px;
    padding: 16px 80px;
    border: solid 2px;
    text-align: center;
    
}

.order-btn p { 
    display: inline;
}





